body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  opacity: 0.9;
  background-image: linear-gradient(to right, darkcyan, grey);
}

.navattribute{
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.boxnavbar{
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}
.leftnav{
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: flex;
  flex: 1 1 0%;
  margin-left: 10px;
}
.slogan{
  color: white;
  font-weight: 600;
  font-size: large;
}
.middlenav{
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: flex;
  flex: 1 1 0%;
}
.name{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: white;
  font-size: x-large;
}
.name:hover{
  color:#B4CDCD;
}
.endnav{
  justify-content: flex-end;
  flex: 1 1 0%;
  max-width: 100%;
  display: flex;
}
.searchbutton{
  border-radius: 500px;
  background-color:transparent;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  height: 2.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.searchbutton:hover{
  background-color: darkcyan;
}
.loginbutton{
  border-radius: 100px;
  background-color:transparent;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  height: 2.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: medium;
  text-transform: uppercase;
  font-weight: 600;
}
.loginbutton:hover{
  background-color: darkcyan;
}

.footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #1F2937;
  border-top-width: 2px;
  display: block;
  width: 100%;
}
.footerbody{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.footerslogan{
  display: flex;
  color: lightgrey;
  font-weight: 500;
  font-size: medium;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.loginbody{
  min-height: 100vh;
  background-color: rgb(209 213 219);
}

.loginform{
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  min-height: 100vh;
}
.loginbox{
  padding: 2.5rem;
  margin:4rem;
  max-width: 50%;
}

.formname{
  justify-content: center;
  width: 100%;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
}
.formtitle{
  font-size: large;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
}
.label{
  display: block;
  font-size: medium;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: .025em;
  --tw-text-opacity: 1;
  color: rgb(55 65 81/var(--tw-text-opacity));
  margin-left: 0.5rem;
}
.input{
  height: 2.5rem;
  width: 100%;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 1rem;
  border: none;
}
.input:hover{
  border: 1px solid black;
}
.input2{
  margin-right: 1rem;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.mb{
  margin-bottom: 2rem;
}
.mb2{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.loginbutton2{
  width: 100%;
  justify-content: center;
  display: flex;
  margin-right: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.logbutton{
  white-space: nowrap;
  border-radius: 1rem;
  text-align: center;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: none;
  background-color: darkcyan;
  color: white;
  margin-right:4rem;
  margin-left: 4rem;
  max-width: 50%;
}
.logbutton:hover{
  background-color: aquamarine;
}
.logfoot{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  @media (min-width:768px){
    flex-direction: row;
  }
}
.lofootcontent{
  font-weight: 600;
  font-size: medium;
  line-height: 1.25rem;
  text-decoration: inherit;
  color: green;
  cursor: pointer;
}
.lofootcontent:hover{
  color: darkgreen;
  text-decoration: underline;
}